*{
    padding:0;
    margin: 0;
}

body{
    background-color:rgb(122, 1, 45);
}

.overall-first-content{
    width:50%;
    display:inline-block;
    margin-left: 25%;
    margin-right:25%;
    background-color: rgb(168, 1, 62);
    /* border-left: 6px solid rgb(168, 1, 62);
    border-right:6px solid rgb(168, 1, 62);
    border-top:10px solid rgb(168, 1, 62);
    border-bottom:10px solid rgb(168, 1, 62); */
}
.about{    
    margin:2% 4%;
    color:white;
    font-size: 12px;
}

.white-content{
    background-color: white;    
    margin-left:1%;
    margin-right:1%;
}

.white-first-content{
    display:flex;
    margin-left:3%;
    margin-right: 3%;
    justify-content: space-between;
    padding-top:10px;
    padding-bottom:10px;
}
hr{
    
    margin:1% 3%

}
.nav{
    margin-left:3%;
    margin-right: 3%;
    display:flex;
    margin-bottom: 1%;
}
.nav a{
    text-decoration: none;
    color:rgb(122, 1, 45);;
}
.imgcontainer{
    display:flex;
}
.imgcontainer .first-image{
    width:25%;
    height:400px;
    background-color:red;
    background-image: url(images/sol.jpg);
    background-size: cover;
    
    
}
.imgcontainer .second-image{
    width:25%;
    height:400px;
    background-image: url(images/snow.jpg);
    background-size: cover;
}

.imgcontainer .third-image{
    flex:1;
    height:400px;
    background-image: url(images/crop_red_mount.jpg);
    background-size: cover;

} 

.Subscriber-message{
    margin-left:3%;
    margin-right: 3%;
    

}
.Subscriber-message p{
    margin-bottom:2%;

    
}
.Subscriber-message .last-message{
    margin-bottom: 0;
}
.offers{   
    margin:2% 3%;

    display:flex;
    justify-content: space-between;
}
.grid1{
    display:grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 2px;
    margin-left:3%;
    margin-right: 3%;
}
.grid2{
    display:grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 2px;
    margin-left:3%;
    margin-right: 3%;

}
.upper{
    display:grid;
    row-gap: 10px;
}
.upper-first{
    display: flex;
}
.upper-first span{
    margin-right:3px;
}
.upper-second{
    display: flex;
}
.upper-second p{
    margin-right:3px;
}
/* riz */

.lower-second {
    display: flex;
    align-items: baseline;
}
.lower-first{
    display: flex;
}
.lower-first span{
    margin-right:3px;
}
.lower-second{
    display: flex;
}
.lower-second p{
    margin-right:3px;
}
.grid3{
    margin-top:2%;
    margin-left:3%;
    margin-right: 3%;
    display:grid;
    grid-template-columns: 200px auto;
    column-gap:2px
}
.grid3 div{
    display:grid;    
}
.nav-foot{
    margin-left:26%;
    margin-right: 26%;
    display:flex;

}
.nav-foot a{
    color:white;
}
.footer{
    border: rgb(122, 1, 45);;
    margin-left: 26%;
    margin-right:26%;
    padding-top:20px;
    padding-bottom:3px;
    display:grid;
    row-gap: 10px;

}
.nav-footer{
    display: flex;
    
}
.nav-footer a{
    color:white;
    text-decoration: none;
}
.footer hr{
   
    margin-left:0;
    margin-right: 0;
    margin-bottom: 0;
}
.last-grid{
    margin-left: 26%;
    margin-right:26%;
    display:grid;
    row-gap: 10px;;
}
.last-grid p{
    color:white;
    font-size: 10px;
    margin-top:0;
}
.third-1{
    margin-top: 280px;
    margin-left:100px;
    padding:8px;
    width:200px;
    background-color:rgb(122, 1, 45);
    border:none;
    font-size:20px;
    color:white;
}
.img-last{
    margin-left:100px;

    width:214px;
    display:flex;
    justify-content: space-between;
}
.third-2{
    padding:8px;
    border:none;
    width:75px;
    background-color:rgb(122, 1, 45);
}
.third-3{
    margin-left:2px;
    margin-top: 2px;
    border:none;

    padding:8px;
    width:80px;
    background-color:rgb(122, 1, 45);
    border:none;
    flex-grow:1;
}

